body {
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;
    background: #1e1e1e;
    color: #ddd;
    display: flex;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
}

#nav {
    width: 280px;
    background: #252526;
    border-right: 1px solid #333;
    overflow-y: auto;
    padding-left: 10px;
    margin-left: 10px;
}

#nav ul li {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    position: relative;
}

#nav li:hover:not(:has(ul li:hover)) {
    background: #2f2f2f;
}

#nav ul li::before {
    content: "🢒";
    position: absolute;
    left: -8px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #444;
}

#nav .collapsed {
    display: none;
}

#nav li::before {
    content: "🢒";
    left: 10px;
    position: absolute;
    color: #888;
}

#nav li a {
    text-decoration: none;
    color: #ddd;
}

#nav li.expanded::before {
    top: 7px;
    content: "🢓";
    color: #ccc;
}

#nav li.no-children::before {
    content: "";
}

#main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#main > div {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 6px;
    background: #2d2d2d;
    border: 1px solid #3a3a3a;
}

#main div div {
    margin-top: 5px;
    padding: 4px 8px;
    background-color: rgba(48, 48, 48, 50%);
    border: rgba(59, 59, 59, 50%) solid thin;
    border-radius: 4px;
}